{% extends 'music/base.html'%}"
{% block loading %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MY MUSIC LIBRARY{% endblock %}</title>
</head>
<body bgcolor="#40e0d0">
<div class="container-fluid" id="new">
    <div class="row-fluid">
        <div class="col-sm-8 col-sm-4">
            <p>
                its is a introduction slide of verry first page
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                ho la here opjdfqiwwhfckofhefnknno jihh ikfiqhwf diksscjvzjvasdcssckSC DJPJDPPJ
            </p>
        </div>

    </div>
</div>


</body>
{% endblock %}

